body {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 155%;
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
}

a {
	color: #000;
    display: block;
}

ul, li {
	display: block;
}

/* Header */

.header {
    background: transparent;
    padding: 30px 0 33px;
    position: relative;
    z-index: 3;
}

.mobile div {
    display: block;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #7BA4DB;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 9999999;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    box-sizing: content-box;
}
.mobile div span {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 4px;
    background-color: #fff;
    border-radius: 13px;
    transition-duration: .4s;
}
.mobile div span:nth-child(1) {
    top: 14px;
}
.mobile div span:nth-child(2) {
    top: 23px;
}
.mobile div span:nth-child(3) {
    bottom: 14px;
}
.mobile div.active span:nth-child(1) {
    transform: translate(-15px, 9px) rotate(-45deg);
}
.mobile div.active span:nth-child(2) {
    transition-duration: 0s;
    opacity: 0;
}
.mobile div.active span:nth-child(3) {
    transform: translate(-15px, -9px) rotate(45deg);
}
.mobile nav {
    display: block;
    position: fixed;
    bottom: 16px;
    right: 16px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 9999990;
    transition-duration: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.mobile nav.open {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    right: 0px;
    bottom: 0px;
    border-radius: 0;
}
.mobile nav ul {
    display: none;
}
.mobile nav ul.show {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}
.mobile ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.mobile ul li:not(:last-child) {
    margin-bottom: 22px;
}
.mobile ul li a {
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #fff;
}
@keyframes fadein {
    0% {
        opacity: 0;
         
    }
    100% {
        opacity: 1;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
}

.menu-list {
    display: flex;
}

.menu-list__link {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2.4px;
}

.menu-list__item:not(:last-of-type) {
    margin-right: 35px;
}

/* Hero screen */

.hero-screen {
    background: #171C8F;
    position: relative;
    padding: 109px 0 45px;
    top: -105px;
}

.hero-screen::after {
    content: '';
    display: block;
    background: url(../img/leaf.svg);
    width: 298px;
    height: 216px;
    position: absolute;
    top: 80%;
    left: 0%;
    z-index: 2;
}

.hero-screen::before {
    content: '';
    display: block;
    background: url(../img/leaves-1.svg) no-repeat;
    width: 243px;
    height: 920px;
    position: absolute;
    top: 0;
    right: 0;

}

.offer-wrapper {
    display: flex;
    align-items: center;
}

.offer__title {
    font-size: 53px;
    line-height: or 159%;
    letter-spacing: 7.65px;
    color: #D7B9E4;
    margin-bottom: 17px;
}

.offer__info {
    color: #fff;
    font-weight: 500;
    max-width: 340px;
    margin-bottom: 20px;
}

.offer {
    margin-left: 68px;
}

.offer__round {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FBD965;
}

.arrow {
    position: absolute;/*абсолютное позиционирование*/
    width: 28px;
    height: 20px;
}

.text {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: animate 10s linear infinite;/*свойства анимации*/
}

p span {
    position: absolute;
    left: 50%;/*позиция слева*/
    font-size: 20px;/*размер шрифта*/
    text-transform: uppercase;/*большие буквы*/
    transform-origin: 0 75px;/*точка исхода трансформации*/
    font-weight: 900;
    color: #171C8F;
}   

@keyframes animate {
    0%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
} 

/* Articles */

.articles {
    background: #F4C3CC;
    padding: 90px 0;
    z-index: 1;
    position: relative;
    top: -105px;
}

.swiper, .follow-swiper {
    width: 100%;
}

.tag {
    background: #FFFFFF;
    border-radius: 30px;
    font-size: 13px;
    text-transform: uppercase;
    color: #EF3340;
    padding: 7px 15px;
}

.swiper-title {
    font-size: 26px;
    margin-top: 15px;
    max-width: 352px;
}

.swiper-link {
    font-size: 15px;
    margin-top: 16px;
}

.swiper-link::after {
    content: '';
    display: block;
    width: 89px;
    height: 20px;
    background: url(../img/underline.svg);
    margin-top: -16px;
}

.swiper-img {
    margin-bottom: 30px;
}

.swiper-button-prev {
    background: #FFFFFF;
    border-radius: 0px 54px 54px 0px;
    width: 54px;
    height: 75px;
    position: absolute;
    top: 35%;
    left: -1%;
}

.swiper-button-prev::after {
    content: '';
    display: block;
    width: 34px;
    height: 22px;
    background: url(../img/arrow-left.svg);
}

.swiper-button-next {
    background: #FFFFFF;
    border-radius: 54px 0px 0px 54px;
    width: 43px;
    height: 75px;
    position: absolute;
    top: 35%;
    right: 0;
}

.swiper-button-next::after {
    content: '';
    display: block;
    width: 34px;
    height: 22px;
    background: url(../img/arrow-right.svg);
}

/* Category */

.categories {
    padding: 56px 0 86px;
}

.category-item {
    max-width: 529px;
    width: 100%;
}

.category-wrap:nth-of-type(even) {
    margin-top: -402px;
}

.category-wrap:nth-of-type(odd) {
    margin-top: 154px;
}

.category-wrap:nth-of-type(-n+1) {
    margin-top: 0;
}

.category-item img {
    max-width: 475px;
    margin-left: auto;
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-title {
    font-size: 53px;
    letter-spacing: 7.65px;
}

.category-item__title {
    font-size: 30px;
    margin-top: 69px;
}

/* About */

.about {
    background: #FFF4F0;
    padding: 100px 0;
    position: relative;
}

.about::before {
    content: '';
    display: block;
    background: url(../img/leaves.svg) no-repeat;
    width: 333px;
    height: 476px;
    position: absolute;
    top: -25%;
    right: 0%;
}

.about::after {
    content: '';
    display: block;
    background: url(../img/yellow-flower.svg) no-repeat;
    width: 241px;
    height: 252px;
    position: absolute;
    top: 60%;
    left: 0;
}

.about-flex {
    display: flex;
    align-items: center;
}

.about-info {
    margin-left: 95px;
}

.about-text {
    font-weight: 500;
    font-size: 21px;
    margin-top: 10px;
}

.section-title_about {
    line-height: 160%;
    font-size: 44px;
}

.btn {
    background: #E16BA9;
    border-radius: 50px;
    color: #fff;
    display: block;
    padding: 16px 40px;
    max-width: 200px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 2.4px;
    margin-top: 25px;
}

/* Brand */

.brand {
    background: #7BA4DB;
    padding: 15px 0;
}

  :root {
    --marquee-width: 100%;
    --marquee-height: 20px;
    --marquee-elements: 5; /* defined with JavaScript */
    --marquee-elements-displayed: 5;
    --marquee-element-width: 318px;
    --marquee-animation-duration: calc(var(--marquee-elements) * 5s);
  }
  
  .marquee {
    overflow: hidden;
    position: relative;
  }
  
  .marquee-content {
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
  }
 
  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
  }
  .marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .marquee-content li img {
    width: 318px;
  }
  
  @media (max-width: 600px) {
    html { font-size: 12px; }
    :root {
      --marquee-width: 100vw;
      --marquee-height: 16vh;
      --marquee-elements-displayed: 3;
    }
    .marquee:before, .marquee:after { width: 5rem; }
  }

  /* Follow */

  .follow {
    position: relative;
    text-align: center;
    padding: 95px 0 45px;
  }

  .section-title_follow {
    font-size: 44px;
    margin-bottom: 22px;
  }

  .section-text {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .follow-link {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 100%;
    letter-spacing: 2.4px;
    margin-bottom: 62px;
  }

  .swiper-button-prev_follow, .swiper-button-next_follow {
    top: 65%;
  }

/* Footer */
.footer {
    background: #477A7B;
    padding: 45px 0 25px;
    color: #fff;
}

.footer-block {
    border-bottom: 1px solid #91AFB0;
    padding: 60px 0;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-title {
    font-size: 27px;
    line-height: 130%;
    letter-spacing: 4.32px;
    margin-bottom: 13px;
}

.footer-info {
    font-size: 18px;
    line-height: 181%;
    letter-spacing: 0.21px;
}

.btn_footer {
    color: #477A7B;
    max-width: 236px;
    background: #fff;
    line-height: 100%;
    letter-spacing: 2.4px;
    margin-top: 0;
    padding: 17px 20px;
}

.footer-list__item a {
    color: #fff;
    font-size: 15px;
    line-height: 170%;

    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.footer-list__item:not(:last-of-type) {
    margin-bottom: 24px;
}

.footer-column a {
    color: #fff;
    line-height: 32px;
/* identical to box height, or 179% */
}

.footer-column span {
    display: block;
    margin-bottom: 2px;
}

.footer-link:not(:last-of-type) {
    margin-right: 20px;
}

.footer-link,.footer-link a {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}

.footer-links {
    display: flex;
    padding-top: 26px;
}

.copyright {
    font-weight: 700;
}

.category-wrap {
    overflow: hidden;
}

.mobile {
    display: none;
}

/* Responsive */

/* Large: 1200px - 1355px */
@media (max-width: 1355px) {
	.offer-img {
        width: 651px;
    }

}

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
	.container {
		max-width: 960px;
	}
    .offer__title {
        font-size: 45px;
    }
    .offer-img {
        width: 592px;
    }
    .offer-wrapper {
        flex-direction: column;
    }

    .offer {
        margin-left: 0;
        margin-top: 50px;
    }

    .offer__info {
        max-width: 495px;
        text-align: center;
        margin: 0 auto;
    }

    .offer__round {
        margin: 20px auto 0;
    }

    .hero-screen::before {
        height: 182px;
    }

    .category-item {
        max-width: 436px;
        width: 100%;
    }

    .section-title_about {
        line-height: 160%;
        font-size: 35px;
    }

    .about-info {
        margin-left: 32px;
    }

}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
	.container {
		max-width: 720px;
	}

    .offer__title {
        text-align: center;
    }

    .mobile {
        display: block;
    }

    .swiper-title {
        font-size: 20px;
    }

    .category-item {
        max-width: 338px;
    }

    .about-img {
        width: 50%;
    }

    .section-title_about {
        font-size: 30px;
    }

    .about::before {
        width: 217px;
    }

    .btn_footer {
        max-width: 235px;
        width: 100%;
    }

    .footer-column span, .footer-column a {
        font-size: 16px;
    }

    .menu-list {
        display: none;
    }
    .hum {
        display: block;
    }

    .offer-wrapper {
        flex-direction: column-reverse;
    }

    .offer {
        margin-top: 76px;
        margin-bottom: 50px;
    }
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
	.container {
		max-width: 540px;
	}

    .category-wrap:nth-of-type(even) {
        margin-top: 40px;
    }

    .about-info {
        margin-left: 0;
    }

    .category-wrap:nth-of-type(odd) {
        margin-top: 40px;
    }

    .flex-wrapper {
        justify-content: center;
    }

    .category-item {
        max-width: 306px;
    }

    .about-flex {
        flex-direction: column;
    }
    .about-img {
        width: 100%;
        margin-bottom: 30px;
    }

    .about::after {
        top: 40%;
        left: 0;
    }

    .about {
        padding: 48px 0;
    }

    .section-title_follow {
        font-size: 38px;
    }

    .section-title_about {
        font-size: 28px;
        text-align: center;
    }

    .about-text {
        font-size: 18px;
        text-align: center;
    }

    .btn {
        margin: 0 auto;
    }

    a.logo {
        width: 168px;
    }

    .footer-title {
        font-size: 20px;
    }

    .footer-info {
        font-size: 16px;
    }

    .btn_footer {
        font-size: 13px;
        max-width: 214px;
    }

    .footer-list__item a {
        font-size: 13px;
    }

    .footer-links {
        flex-wrap: wrap;
    }

    .footer-wrapper {
        flex-wrap: wrap;
    }

    .about::before {
        width: 143px;
    }

    .tag {
        display: block;
        width: 123px;
        margin: 0 auto;
        text-align: center;
    }
    
    .swiper-link {
        width: 100%;
        text-align: center;
    }
    
    .swiper-link::after {
        margin: -16px auto 0;
    }

    .swiper-title {
        text-align: center;
        max-width: 100%;
    }

}

@media (max-width: 616px) {
.offer-img {
    width: 100%;
}

ul.footer-list {
    margin-bottom: 20px;
    width: 130px;
    text-align: center;
}

.footer-column {
    /* align-items: center; */
    text-align: center;
    margin: 0 auto;
}

.footer-wrapper {
    justify-content: space-evenly;
}

}

/* Breakpoint: 0px (320px) - 470px */
@media (max-width: 470px) {
    .container {
		width: 100%;
	}
    .about::after {
        display: none;
    }

    .offer__title {
        font-size: 30px;
    }

    .offer__info {
        font-size: 17px;
    }

    .hero-screen::after {
        display: none;
    }

    .articles {
        padding: 29px 0;
    }

    .swiper-button-next, .swiper-button-prev {
        width: 33px;
        height: 55px;
    }

    .section-title {
        font-size: 30px;
    }

    .category-item__title {
        font-size: 25px;
        margin-top: 30px;
        text-align: center;
    }

    .section-title_about {
        font-size: 25px;
    }

    .about-text {
        font-size: 16px;
    }

    .categories {
        padding: 0 0 86px;
    }

    .section-text {
        font-size: 16px;
    }

    .offer__round {
        width: 132px;
        height: 132px;
    }

    p span {
        font-size: 15px;
        transform-origin: 0 66px;
    }

    .footer-logo {
        width: 70px;
    }

    .about::before {
        top: -15%;
    }

/*     .swiper-button-next, .swiper-button-prev {
        top: 30%;
    } */

    ul.footer-list {
        width: 95px;
    }
}	
